body {
    font-family: sans-serif;
    background-color: rgb(137, 181, 231);
}

h1 {
    border-bottom: solid 1px #2d2e74;
}


#header {
    background-image: url("https://cdn-ak2.f.st-hatena.com/images/fotolife/m/mikimiho2013/20010318/20010318192050.jpg");
    padding: 10px 20px 10px 20px;
    height: 300px;
}

#header img {
    padding: 0px 300px 1000px 550px;
    height: 100%;

}

#titleInput {
    margin: 10px;
    padding: 10px;
    border: solid 2px#666666;
    width: 40%;
}

#textInput {
    margin: 10px;
    padding: 10px;
    border: solid 2px#666666;
    width: 80%;
}

.text {
    margin: 10px;
    padding: 10px;
    background-color: #eeeeff;
}

h2 {
    padding: 0px 10px 0px 10px;
    border-left: solid 4px #17194c;
}
ul.column.col7 li{
    width: 13%;
    margin-right: 1.5%;
    float: left;
}
ul.column.col7 li:nth-child(7n){
    margin-right: 0;
}
.ttl-line {
    border-bottom: solid 1px #2d2e74;

}

p{
    padding: 0px 10px 0px 10px;
}


