{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Index page</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'blog/css/default1.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'blog/js/index.js' %}" ></script>
  </head>
  <body>
    <div id="header">
      <img src="{% static 'blog/img/小見出しを追加.png' %}" alt="Logo">
    </div>


    <h1>　　----------------------------------東洋大学学食レビュー---------------------------------</h1>
    <p>                        東洋大学学食リスト                        </p>
    <form action="{% url 'index' %}" method="post">
    <div class="box-cla_foods">
      <ul class="column col7 sp2 clearfix">
        <li>
          <a href="/recipe/cla_foods/niku/01.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/02.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/03.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/04.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/05.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/06.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/07.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/08.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/09.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/10.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/11.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/12.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/13.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
        <li>
          <a href="/recipe/cla_foods/niku/14.html">
            <div class="img-mask">
              <figure>
                <img src="{% static 'blog/img/iniad (1).png' %}">
              </figure>
            </div>
            <p class="column-text-ttl-center">名前</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="ttl-line"></div>
      {% csrf_token %}
      <div>
        <label for="titleInput">メニュー名</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="textInput">感想</label><br>
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">投稿</button>
      </div>
    </form>
    <br>

    <div>
  	  <a href="{% url 'index' %}?sort=date">Sort by Date</a> | 
      <a href="{% url 'index' %}?sort=like">Sort by Like</a>
	  </div>
    
    {% if articles %}
    {% for article in articles %}
    <div class="text">
      <h2><a href="{% url 'detail' article.id %}">{{  article.title }}</a></h2>
      <small>[{{ article.posted_at }}]</small>
      <div>
        <a href="{% url 'like' article.id %" >
          Like: <span id="like{{article.id}}">{{ article.like }}</span>
        </a>
      </div>
      <div>
        {{ article.body |linebreaksbr }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No article.</p>
    {% endif %}
  </body>
</html>
